#main{
	 margin:100px auto;
  padding:15px;
 margin-left:200px;
 margin-right:200px;
 border:solid;

  border-radius:10px;
  background-color:white;
}
body{
	background-color:#eee;
background-image: url('../i.jpeg');
}
#logout {
	position:absolute;
        top:25px;
        right:25px;
}
html {
        background-color: rgba(0,0,100,0);
        color:black;
        margin:10px;
        background-color:#eee;
background-image: url('../i.jpeg');

//        background-image: radial-gradient(grey,white);
}

